<%include header.tmpl %>
		<div class="items">
		<h1><%= NAME %></h1>
		<%loop ITEMS %>
			<div class="item">
				<%switch TYPE %>
					<%case Folder %><a href="<%= url %>/view/<%= SIZE %>/<%= PATH_REL %>">
					<%case %><a href="<%= url %>/view/<%= SIZE_IN %>/<%= PATH_REL %>">
				<%/switch %>
				<img src="<%= url %>/image/<%= SIZE %>/<%= PATH_REL %>" alt="<%= NAME %>" /></a>
				<p class="name"><%if EXIF.Title %> <%= EXIF.Title %><%else %><%= NAME %><%/if %></p>
				<p class="exif-tiny"><%include "exif/tiny.tmpl" %></p>
				<%switch TYPE %>
					<%case Audio,Video,Image %><a href="<%= url %>/image/-1/<%= PATH_REL %>">Download</a>
				<%/switch %>
			</div>
		<%/loop %>
		</div>
<%include footer.tmpl %>
