<HTML>
	<head>
		<title>Gallery</title>
		<style type="text/css">
			body {
				background-color: #111;
				font: 10pt sans-serif;
				color: gray;
			}
			a { text-decoration: none; color: white; }
			.item {
				float: left;
				height: 10em; 
				width: 10em; 
				overflow: hidden;
				padding: 2em;
				margin: .5em;
				background-color: black;
			}
			.item img
			{
				border: none;
			}

			.items
			{
				margin: auto;
				padding: .5em;
				overflow: hidden;
				text-align: center;
			}
			.exif-tiny
			{
				font-size: 7pt;
				text-align: left;
			}
			.error
			{
				border: 1px solid red;
			}
			.parent
			{
				float: right;
			}
			.off
			{
				border: 1px solid gray;
				position: fixed;
			}
			.next
			{
				padding-left: 10em;
			}
			pre
			{
				border: 1px dotted gray;
			}

		</style>
	</head>
	<body>
	<a href="?path=<%= PARENT %>">back to <%= PARENT %></a><br />
	<span class='off'>
		<a class='prev' href="?size=<%= SIZE %>;path=<%= PATH_REL %>;off=prev">Previous</a>
		<a class='next' href="?size=<%= SIZE %>;path=<%= PATH_REL %>;off=next">Next</a>
	</span>

