<%include header.tmpl %>
		<div id='image'>
			<h1><%= NAME %></h1>
			<%switch TYPE %>
				<%case Image %>
				<a href="<%= CONFIG.url %>/image/<%= SIZE_IN %>/<%= PATH_REL %>">
				<img src="<%= CONFIG.url %>/image/<%= SIZE %>/<%= PATH_REL %>" alt="<%= NAME %>" />
				</a>
				<ul>
					<li><a href="<%= CONFIG.url %>/image/-1/<%= PATH_REL %>">Original file</a></li>
				</ul>
				<%include exif/common.tmpl %>
				<%case Text %>
				<pre>
<%= CONTENT %>
				</pre>
				<%case default %>
				<object data="<%= CONFIG.url %>/image/-1/<%= PATH_REL %>" type="<%= MIME %>" width="300" height="50" /><br />
				<a href="<%= CONFIG.url %>/image/-1/<%= PATH_REL %>">Download file</a>
			<%/switch %>
		</div>
<%include footer.tmpl %>
