<%include header.tmpl %>
		<div id='image'>
			<h1><%= NAME %></h1>
			<%switch TYPE %>
				<%case Image %>
				<a href="?rm=image;size=<%= SIZE_IN %>;path=<%= PATH_REL %>">
				<img src="?rm=image;size=<%= SIZE %>;path=<%= PATH_REL %>" />
				</a>
				<ul>
					<li>Size: <%= SIZE %></li>
					<li><a href="?rm=original;path=<%= PATH_REL %>">Original file</a></li>
				</ul>
				<%include exif/common.tmpl %>
				<%case Text %>
				<pre>
<%= CONTENT %>
				</pre>
				<%case default %>
<!--				<object data="?rm=original;path=<%= PATH_REL %>" type="audio/mpeg" /></object><br /> -->
				<iframe src="?rm=original;path=<%= PATH_REL %>" /><br />
				<a href="?rm=original;path=<%= PATH_REL %>">Download file</a>
			<%/switch %>
		</div>
<%include footer.tmpl %>
