<TMPL_INCLUDE NAME="header.tmpl">
		<a href="?path=<TMPL_VAR NAME=PARENT>">back to <TMPL_VAR NAME=PARENT></a><br />
		<div id='image'>
			<h1><TMPL_VAR NAME=NAME></h1>
			<%switch TYPE%>
				<%case Image%>
				<a href="?rm=image;size=<TMPL_VAR NAME=SIZE_IN>;path=<TMPL_VAR NAME=PATH_REL>">
				<img src="?rm=image;size=<TMPL_VAR NAME=SIZE>;path=<TMPL_VAR NAME=PATH_REL>" />
				</a>
				<ul>
					<li>Size: <TMPL_VAR NAME=SIZE></li>
					<li><a href="?rm=original;path=<TMPL_VAR NAME=PATH_REL>">Original file</a></li>
				</ul>
				<TMPL_INCLUDE NAME="exif/common.tmpl">
				<%case Text%>
				<pre>
<%= CONTENT %>
				</pre>
				<%case default%>
				<embed src="?rm=original;path=<%= PATH_REL %>" /><br />
				<a href="?rm=original;path=<TMPL_VAR NAME=PATH_REL>">Download file</a>
			<%/switch%>
		</div>
<TMPL_INCLUDE NAME="footer.tmpl">
